<div>
    Sign
    <form>
        <table>
            <tr>
                <td>UserName</td>
                <td><input type="text" ></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="pasword" ></td>
            </tr>
            <tr>
                <td> <button >Reset</button> </td>
                <td> <button >Login</button> </td>
                
            </tr>
        </table>
    </form>
</div>
<div>
    Sign up
    <form>
        <table>
            <tr>
                <td>UserName</td>
                <td><input type="text" ></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="pasword" ></td>
            </tr>
            <tr>
                <td> <button >Reset</button> </td>
                <td> <button >Sign Up</button> </td>
                
            </tr>
        </table>
    </form>
</div>